<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="CRM"/>
    <meta name="author" content="Vorkov"/>
    <title>HomeCRM</title>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/styles/styles.css" rel="stylesheet"/>
</head>

<body>
<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light">Customer Relationship Management</div>
        <div class="list-group list-group-flush">

            <a sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER')"
               class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/orders/new}">Create
                new order</a>

            <a sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_SUPPLIER')"
               class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/orders}">Orders</a>

            <a sec:authorize="hasRole('ROLE_MANAGER')"
               class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/orders/byUser}">My Orders</a>


            <a sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_SUPPLIER')"
               class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/projects/new}">Create
                new project</a>

            <a sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_SUPPLIER')"
               class="list-group-item list-group-item-action list-group-item-light p-3"
               th:href="@{/projects}">Projects</a>

            <a sec:authorize="hasAnyRole('ROLE_ADMIN')"
               class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/items/new}">Create
                new item</a>

            <a sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_SUPPLIER')"
               class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/items}">Items</a>

            <a sec:authorize="hasRole('ROLE_ADMIN')"
               class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/users}">Users</a>

            <a sec:authorize="hasRole('ROLE_ADMIN')"
               class="list-group-item list-group-item-action list-group-item-light p-3"
               th:href="@{/user-project/assign}">Assign user to project</a>

            <a sec:authorize="hasRole('ROLE_ADMIN')"
               class="list-group-item list-group-item-action list-group-item-light p-3"
               th:href="@{/user-project/release}">Release user from project</a>
        </div>
    </div>

    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <button class="btn btn-primary" id="sidebarToggle">Menu</button>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="nav-item active"><a class="nav-link" href="../">Home</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                               data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/users/profile">View my profile</a>
                                <div class="dropdown-divider"></div>
                                <form th:action="@{/logout}" th:method="post">
                                    <input type="submit" class="dropdown-item" value="Logout"/>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Page content-->
        <div class="container-fluid">
            <h1 class="mt-5, text-center">Hello, <span th:text ="${#authentication.getPrincipal().getUser().getName()}"></span>
                <span th:text= "${#authentication.getPrincipal().getUser().getSurname()}"></span>. Welcome to CRM
                </h1>

            <h5 class="mt-5, text-center"> The application improves the interaction between employees of various
                departments in the manager - supplier relationship:</h5> <br>
        </div>
        <div class="banner">
            <div class="container">
                <div class="row">
                    1. Simplifies the interaction of employees by providing a form of orders for the necessary
                    materials.<br>
                    2. Prevents late order processing (supplier's tender, contract conclusion, payment).<br>
                    3. Prevents late delivery of materials to manager of project.<br>
                    4. Provides data on each step of the material supplying implementation, what is necessary for
                    the next analysis in case of failure of supplying deadlines.
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/script_menu.js"></script>
</body>
</html>